{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="{% static 'css/users_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Lista de Usuarios</h1>

    <p>Total de usuarios registrados: {{ total_usuarios }}</p>

    <ul>
        {% for usuario in usuarios %}
        <li>
            <a href="{% url 'detalle_usuario' usuario.id %}">
                {{ usuario.nombres }} {{ usuario.apellidos }}
            </a> - {{ usuario.correo }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
